*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	
}
section{
	height:100vh;
	background:linear-gradient(rgba(65, 118, 148,0.5),rgba(65, 118, 148,0.5)),url("../images/gallery-5.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	
}

.carousel-indicators [data-bs-target]{
	width:10px !important;
	height:10px !important;
	background-color:#de3e26 !important;
	border-radius:50%;
}
.carousel-item{
	height:80vh;
}
.carousel-img{
	width:20%;
	margin:auto;
	padding-top:12%;
}
.carousel-img img{
	width:100%;
	border-radius:50%;
	
}